<div class="container mt-5">
  <h1 class="mb-4 text-center">Mensajes</h1>

  <%= link_to "Nuevo Mensaje", new_message_path, class: "btn btn-success mb-3" if can? :create, Message %>

  <ul class="list-group">
    <% @messages.each do |message| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>Mensaje #<%= message.id %></strong><br>
          <%= truncate(message.body, length: 80) %><br>
          <small>Autor: <%= message.user.first_name %> | Chat ID: <%= message.chat_id %></small>
        </div>
        <div>
          <%= link_to "Ver", message_path(message), class: "btn btn-sm btn-primary me-2" %>
          <% if can? :edit, message %>
            <%= link_to "Editar", edit_message_path(message), class: "btn btn-warning" %>
          <% end %>

          <% if can? :destroy, message %>
            <%= link_to "Eliminar", message, data: { turbo_method: :delete, confirm: "¿Seguro que deseas eliminar este mensaje?" }, class: "btn btn-sm btn-danger" %>

          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to "Inicio", root_path, class: "btn btn-outline-primary mt-3" %>
</div>
