<h1>New Message</h1>

<%= form_with model: @message do |f| %>
  <%= f.label :chat_id, "Chat" %>
  <%= f.select :chat_id, Chat.all.collect { |c| ["Chat ##{c.id}", c.id] } %><br>

  <%= f.label :user_id, "Author" %>
  <%= f.select :user_id, User.all.collect { |u| [u.first_name, u.id] } %><br>

  <%= f.label :body %>
  <%= f.text_area :body %><br>

  <%= f.submit "Send Message" %>
<% end %>

<%= link_to 'Back to Messages', messages_path %>
