<div class="container mt-5">
  <h1 class="mb-4">Detalles del Usuario</h1>

  <div class="card">
    <div class="card-body">
      <p><strong>ID:</strong> <%= @users.id %></p>
      <p><strong>Email:</strong> <%= @users.email %></p>
      <p><strong>First Name:</strong> <%= @users.first_name %></p>
      <p><strong>Last Name:</strong> <%= @users.last_name %></p>
    </div>
  </div>

  <%= link_to "Volver a la lista", users_path, class: "btn btn-primary mt-3" %>
</div>
