<h1><%= @users.id %></h1>

<p>
    EMAIL: <%= @users.email %><br>
</p>
<p>
    First name: <%= @users.first_name %><br>
</p>
<p>
    Last name: <%= @users.last_name %><br>
</p>


<%= link_to "Back", users_path %>
