<div class="container mt-5">
  <h1 class="text-center mb-4">Chats</h1>

  <div class="list-group">
    <% @chats.each do |chat| %>
      <%= link_to chat_path(chat), class: "list-group-item list-group-item-action" do %>
        <p class="mb-0">
          <strong>Chat ID:</strong> <%= chat.id %>
        </p>
      <% end %>
    <% end %>
  </div>
  <h1>Chats</h1>
<%= link_to 'Add New Chat', new_chat_path %>
<ul>
  <% @chats.each do |chat| %>
    <li>Chat: Sender ID <%= chat.sender_id %> → Receiver ID <%= chat.receiver_id %></li>
  <% end %>
</ul>

</div>
