<div class="container mt-5">
  <h1 class="mb-4 text-center">Chats</h1>

  <%= link_to "Nuevo Chat", new_chat_path, class: "btn btn-success mb-3" %>

  <ul class="list-group">
    <% @chats.each do |chat| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>Chat #<%= chat.id %></strong><br>
          <small>
            Remitente: <%= chat.sender.first_name %> |
            Receptor: <%= chat.receiver.first_name %>
          </small>
        </div>
        <div>
  <%= link_to "Ver", chat_path(chat), class: "btn btn-sm btn-primary me-2" %>
  <% if can? :edit, chat %>
    <%= link_to "Editar", edit_chat_path(chat), class: "btn btn-sm btn-warning me-2" %>
  <% end %>
  <% if can? :destroy, chat %>
  <%= link_to "Eliminar", chat_path(chat), data: { turbo_method: :delete, confirm: "¿Seguro que deseas eliminar este chat?" }, class: "btn btn-sm btn-danger" %>
<% end %>

</div>


      </li>
    <% end %>
  </ul>

  <%= link_to "Inicio", root_path, class: "btn btn-outline-primary mt-3" %>
</div>
