<h1>New Chat</h1>

<%= form_with model: @chat do |f| %>
  <%= f.label :sender_id, "Sender" %>
  <%= f.select :sender_id, User.all.collect { |u| [u.first_name, u.id] } %><br>

  <%= f.label :receiver_id, "Receiver" %>
  <%= f.select :receiver_id, User.all.collect { |u| [u.first_name, u.id] } %><br>

  <%= f.submit "Create Chat" %>
<% end %>

<%= link_to 'Back to Chats', chats_path %>
